.game {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    margin-top: 50px;
    background: rgb(255, 170, 170);
  }

  ul {
    list-style-type: none;
  }