body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgb(255, 208, 208);
  }

  h1 {
    text-shadow: 2px 1px red;
    letter-spacing: 1.5px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(255, 170, 170);
    border: 2px solid rgb(85, 0, 0);
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    margin-top: 50px;
  }
  