body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgb(255, 208, 208);
  }

  h1 {
    text-shadow: 2px 1px red;
    letter-spacing: 1.5px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  ol, ul {
    padding-left: 10px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }